.list-spesifikasi-kos {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: -2.5vw;
}

// Ubah ke vh, vw, rem, dll
.listImage {
  margin: 2px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
