// @import url('https://fonts.googleapis.com/css?family=Raleway');

.background-color-primary {
  background-color: #056c73;
}

.color-primary {
  color: #056c73;
}

.text-title {
  font-size: 32px;
  // font-family:'Raleway';
}
.text-subtitle {
  font-size: 24px;
  // font-family: 'Raleway';
}
.button-hover:hover {
  background-color: #333232;
}
.color-hover:hover {
  color: #333232;
}
.vertical-line {
  border: 1px solid #02020249;
  height: 500px;
  margin-right: 100px;
}
.text {
  font-size: 16px;
}
