// @import url('https://fonts.googleapis.com/css?family=Raleway');

.backgournd-color-primary{
    background-color: #056C73
}

.color-primary{
    color: #056C73
}

.text-title{
    font-size: 45px;
    // font-family:'Raleway';
}
.text-subtitle{
    font-size: 32px;
    // font-family: 'Raleway';
}