#navbar {
	position: sticky;
	top: 0;
	z-index: 1000;

	.logo {
		max-height: 60px;
	}

	.form-search {
		max-height: 60px;
	}

	.nav-link {
		font-size: 21px;
		color: #616161;

		&.active {
			font-weight: bold;
		}
	}
}