@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~react-toastify/scss/main";
@import "card";
@import "badge/main";
@import "navbar";
@import "footer";
@import "landing";
@import "profile";
@import "search";
@import "kelola-kos";
@import "detailkos";
@import "detail-pengajuan";

@keyframes backgroundanimation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.cursor-pointer {
	cursor: pointer;
}

.quill {
	height: 200px;
}

.fw-semibold {
	font-weight: 600px;
}

table {
	>tbody {
		>tr {
			>td.skeleton {
				background: linear-gradient(-45deg, $grey-light, $grey, $grey-light);
				background-size: 400% 400%;
				animation: backgroundanimation 1s infinite ease;
				border: none;
			}
		}
	}
}