@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~react-toastify/scss/main";
@import "card";
@import "badge/main";
@import "navbar";
@import "footer";
@import "landing";
@import "profile";
@import "search";
@import "kelola-kos";
@import "detailkos";
@import "detail-pengajuan";

.cursor-pointer {
	cursor: pointer;
}

.quill {
	height: 200px;
}

.fw-semibold {
	font-weight: 600px;
}