@import "~bootstrap/scss/bootstrap";
@import "register";

body{
  font-family: "Raleway";
}

.navbar {
  height: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-nav {
  margin-right: -60px;
}

.gap-36 {
  gap: 36px !important;
}

.logo {
  width: 259.29px;
  height: 60px;  
}

.navbar-brand {
  margin-left: -50px;
}

.navbar-link {
  
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #616161;
}

.btn-login {
  width: 110px;
  height: 48px;
  padding: 12px 30px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background: #056C73;
  color: #FFFFFF;
}

.height {
  height: 100vh;
}

.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.form-input {
  height: 55px;
  text-indent: 33px;
  border-radius: 10px;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}

// banner
.banner {
  margin: auto;
}

.img-banner {
  height: 10vh;
  width: 20vw;
}
