// Color
$primary: #056c73;
$secondary: #f8b739;
$danger: #ba1a1a;
$success: #00c853;
$light: #f4feff;
$grey: #616161;
$grey-light: #c4c4c4;

$primary-border: #acced0;
$primary-light: #acced0;

$color-form: #d1d5db;

$font-family-base: "Raleway";
