.banner-card {
	border-radius: 16px;
	height: 100%;

	>.card-img-top {
		border-radius: 16px 16px 0 0;
		object-fit: cover;
		height: 300px;
	}

	>.card-body {
		display: flex;
		justify-content: flex-end;
	}
}