.card {
	@keyframes backgroundanimation {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	&.skeleton {
		border-radius: 16px;
		background: linear-gradient(-45deg, $grey-light, $grey, $grey-light);
		background-size: 400% 400%;
		animation: backgroundanimation 1s infinite ease;
		border: none;
	}
}