.testimoni-card {
	border-radius: 16px;

	>.card-body {
		>.card-title {
			font-weight: bold;
			font-size: 18px;
			letter-spacing: 0.15px;
			color: $black;
		}

		>.card-text {
			&.kos-location {
				font-size: 12px;
				font-weight: bold;
				color: $grey;
			}

			&.kos-price {
				font-size: 15px;
			}
		}
	}
}